body {
    background-color: #f5f0e1;
}

/* Navbar */

.navbar {
    padding: 0;
    background-color: white;
}

.navbar-brand {
    width: 20rem;
    display: flex;
    justify-content: flex-start;
    color: black;
}

.logo-narrow {
    display: none;
}

.brand-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: 1rem;
    width: 12rem;
    font-family: 'Acme', sans-serif;
}

.name {
    display: inline-block;
    font-size: 5rem;
}

.tagline {
    font-size: 2rem;
    display: inline-block;
}

.navbar-nav {
    gap: 4px;
}

.navbar-collapse {
    align-self: flex-start;
}

.navbar-toggler {
    align-self: flex-start;
    margin-top: 0.5rem;
}

.navbar-toggler-icon {
    background-image: url('../pictures/menu-light.png');
}

#current {
    color: #f5f0e1;
    background-color: #29648a;
}

.nav-link {
    text-align: center;
}

.active {
    padding-left: 5px;
    padding-right: 10px;
    color: black;
}

.active:hover {
    color: #f5f0e1;
    background-color: #29648a;
}

/* Body */

.content {
    font-family: 'Domine', serif;
    text-align: center;
}

.content-container {
    margin: 3rem 0;
    width: 85%;
    display: inline-block;
    background-color: #f8e9a1;
    text-align: center;
    padding: 0 5% 0.5rem 5%;
}

h1 {
    font-size: 3rem;
    margin-top: 0.75rem;
}

#heading-underline {
    width: 6rem;
    border: none;
    height: 4px;
    color: #1d3c45;
    background-color: #1d3c45;
    display: inline-block;
    opacity: 1;
    margin-top: 0.25rem;
}

/* Event */

.backdrop {
    background-image: url('../pictures/fooddrive.jpg');
    background-position: top;
    background-size: cover;
}

.event {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.33);
    height: 100%;
    width: 100%;
    padding: 1.5rem 0 2.5rem 0;
}

.event-name {
    font-family: 'Chela One', cursive;
    color: white;
    text-align: center;
    font-size: 4rem;
}

.contribute-btn {
    margin-top: 2.5rem;
    text-align: center;
}

.contribute-btn-background {
    padding: 0.25rem;
    background-color: white;
    display: inline-block;
    border-radius: 9px;
}

.event-dock {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 45%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
}

.collected {
    color: green;
    font-size: 4rem;
}

.target {
    color: red;
    font-weight: 500;
    margin-left: 5px;
}

.progress {
    height: 2rem;
    margin-top: 0.5rem;
}

.card-info {
    text-align: end;
    background-color: transparent;
    font-size: 0.8rem;
    color: gray;
}

.timer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 1rem;
}

.calendar-text {
    font-size: 3rem;
    text-align: center;
    width: 24%;
}

.calendar-footer {
    margin-top: 0.25rem;
    padding-bottom: 4px;
    background-color: orange;
    font-size: 1rem;
}

.target-text {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.bottombar {
    margin-top: 3rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottombar-brand {
    white-space: nowrap;
}

.bottombar-text {
    width: 50%;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .logo-wide {
        display: none;
    }

    .logo-narrow {
        display: block;
    }

    .name {
        font-size: 2rem;
    }

    .tagline {
        font-size: 1rem;
    }

    .nav-top {
        margin-top: 1rem;
    }

    .nav-bottom {
        margin-bottom: 1rem;
    }

    .content-container {
        width: 100%;
        margin-top: 0;
    }

    .backdrop {
        background-position: left;
    }

    .event-dock {
        flex-direction: column;
        gap: 1rem;
    }

    .card {
        width: 95%;
        align-self: center;
    }

    .event-name {
        font-size: 2.5rem;
    }
}