/* Navbar */

.navbar {
    padding: 0;
    background-color: white;
}

.navbar-brand {
    display: inline-block;
    width: 50%;
}

.navbar-nav {
    gap: 4px;
}

.navbar-collapse {
    align-self: flex-start;
}

.navbar-toggler {
    align-self: flex-start;
    margin-top: 0.5rem;
}

.navbar-toggler-icon {
    background-image: url('/assets/menu-light.png');
}

#current {
    color: #f5f0e1;
    background-color: #29648a;
}

.nav-link {
    text-align: center;
    white-space: nowrap;
}

.active {
    padding-left: 5px;
    padding-right: 10px;
    color: black;
}

.active:hover {
    color: #f5f0e1;
    background-color: #29648a;
}

/* Body */

body {
    background-color: #f5f0e1;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Domine', serif;
    font-size: 3rem;
    margin-top: 1rem;
}

#heading-underline {
    width: 6rem;
    border: none;
    height: 4px;
    color: #1d3c45;
    background-color: #1d3c45;
    display: inline-block;
    opacity: 1;
    margin-top: 0.25rem;
}

.content {
    margin-top: 1.5rem;
    padding: 0 1.5rem;
}

.content-container {
    display: flex;
    gap: 10px;
}

.row {
    margin: 0;
}

.backdrop-1 {
    background-image: url('bg-1.jpeg');
    background-position: center;
    background-size: cover;
    padding: 0;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

/* Bottombar */

.bottombar {
    margin-top: 1.5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottombar-brand {
    width: 40%;
    display: inline-block;
}

.bottombar-text {
    width: 50%;
    text-align: end;
    margin-right: 0.5rem;
}

/* Responsive */
@media (max-width: 768px) {

    /* Navbar */
    .navbar-brand {
        width: 75%;
    }

    .name {
        font-size: 2rem;
    }

    .tagline {
        font-size: 1rem;
    }

    .nav-top {
        margin-top: 1rem;
    }

    .nav-bottom {
        margin-bottom: 1rem;
    }

    /* Bottombar */

    .bottombar {
        display: block;
    }

    .bottombar-brand {
        width: 75%;
    }

    .bottombar-text {
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0;
        padding: 0.5rem;
        text-align: end;
    }
}