.default, .lightmode {
    --background-color: #f5f0e1;
    --content-background-color: rgba(248, 233, 161, 0.9);
    --text-color: #000;
    --inverse-text-color: #fff;
    --event-background-color: rgba(255, 255, 255, 0.8);
    --bottombar-filter: invert(0%);
}

@media only screen and (prefers-color-scheme: dark) {
    .default {
        --background-color: #24305E;
        --content-background-color: rgba(0, 0, 0, 0.9);
        --text-color: #fff;
        --inverse-text-color: #000;
        --event-background-color: rgba(0, 0, 0, 0.8);
        --bottombar-filter: invert(100%);
    }
}

.darkmode {
    --background-color: #24305E;
    --content-background-color: #000;
    --text-color: #fff;
    --inverse-text-color: #000;
    --event-background-color: rgba(0, 0, 0, 0.8);
    --bottombar-filter: invert(100%);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */

.navbar {
    padding: 0;
    background-color: white;
}

.navbar-brand {
    display: inline-block;
    width: 50%;
}

.navbar-nav {
    gap: 4px;
}

.navbar-collapse {
    align-self: flex-start;
}

.navbar-toggler {
    align-self: flex-start;
    margin-top: 0.5rem;
}

.navbar-toggler-icon {
    background-image: url('/assets/menu-light.png');
}

#current {
    color: #f5f0e1;
    background-color: #29648a;
}

.nav-link {
    text-align: center;
    white-space: nowrap;
}

.active {
    padding-left: 5px;
    padding-right: 10px;
    color: black;
}

.active:hover {
    color: #f5f0e1;
    background-color: #29648a;
}

/* Navbar end */

.contact
{
    position: relative;
    min-height: 100vh;
    /*padding: 50px 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(contactus1.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: -2rem;
    background-color: #000;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p
{
    font-weight: 300;
    color: #fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #00bcd4;
}


.ContactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.ContactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.ContactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.ContactForm .inputBox input ,
.ContactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin:  10px 0;
    border: none;
    border-bottom:  2px solid #333;
    outline: none;
    resize: none;
}
.ContactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.ContactForm .inputBox input:focus ~ span,
.ContactForm .inputBox input:valid ~ span,
.ContactForm .inputBox textarea:focus ~ span,
.ContactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translatey(-20px);

}
.ContactForm .inputBox input[type="submit"]
{
    width: 100px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 768px) /*768  991*/
{
    /* Navbar */
    .navbar-brand {
        width: 75%;
    }

    .nav-top {
        margin-top: 1rem;
    }

    .nav-bottom {
        margin-bottom: 1rem;
    }

    /* Navbar end */
    
    .contact
    {
        padding: 0px;
    }
    .container
    {
        flex-direction: column;
    }
    .container, .contactInfo
    {
        margin-bottom: 40px;
    }
    .container, .contactInfo, .ContactForm
    {
        width: 100%;
    }
}

/* Floating Media Buttons */

.fl-fl {
    background: var(--inverse-text-color);
    letter-spacing: 3px;
    padding: 0.5rem 0.7rem 0.5rem 0.8rem;
    position: fixed;
    right: 0rem;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
    
  .fa {
    font-size: 20px;
    color: var(--text-color);
    padding: 10px 0;
    width: 40px;
    margin-left: 8px;
  }
    
  .fl-fl:hover {
    right: 0;
  }
    
  .fl-fl a {
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    line-height: 43px!important;
    vertical-align: top!important;
  }
    
  .float-fb {
    top: 112px;
  }
  
  #float-fb:hover {
    color: #4267B2;
  }
    
  .float-ig {
    top: 168px;
  }
  
  #float-ig:hover {
    color: #8a3ab9;
  }
    
  .float-wa {
    top: 224px;
  }
  
  #float-wa:hover {
    color: #128C7E;
  }
    
  .float-tw {
    top: 280px;
  }
  
  #float-tw:hover {
    color: #1DA1F2;
  }

  @media (max-height: 340px) {
    /* Floating Media Buttons */
    
    .float-fb {
        display: none;
    }

    .float-ig {
        display: none;
    }

    .float-wa {
        display: none;
    }

    .float-tw {
        display: none;
    }
}