.default, .lightmode {
    --background-color: #f5f0e1;
    --content-background-color: rgba(248, 233, 161, 0.9);
    --text-color: #000;
    --event-background-color: rgba(255, 255, 255, 0.9);
    --bottombar-filter: invert(0%);
}

@media only screen and (prefers-color-scheme: dark) {
    .default {
        --background-color: #24305E;
        --content-background-color: rgba(0, 0, 0, 0.9);
        --text-color: #fff;
        --event-background-color: rgba(0, 0, 0, 0.9);
        --bottombar-filter: invert(100%);
    }
}

.darkmode {
    --background-color: #24305E;
    --content-background-color: #000;
    --text-color: #fff;
    --event-background-color: rgba(0, 0, 0, 0.8);
    --bottombar-filter: invert(100%);
}

/* Navbar */

.navbar {
    padding: 0;
    background-color: white;
}

.navbar-brand {
    display: inline-block;
    width: 22rem;
}

/* Body */

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Responsive */
@media (max-width: 768px) {

    /* Navbar */
    .navbar-brand {
        width: 75%;
    }

    /* Body */
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 10%;
        -ms-transform: translate(-5%, -50%);
        transform: translate(-5%, -50%);
    }
}